<f:layout name="Default" />
<f:section name="Slider">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
</f:section>

<f:section name="Main2">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
</f:section>

<f:section name="sliderunten">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />
</f:section>

<f:section name="sliderinhalt">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '3'}" />
</f:section>

<f:section name="Main_unten">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '4'}" />
</f:section>

<f:section name="Footer">
    <div class="main">
    <f:cObject typoscriptObjectPath="lib.footerContent" data="{colPos: '100'}" />
    </div>
</f:section>
