<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <ul class="sprache">><ul class="languagemenue"><f:for each="{languageMenu}" as="item">
        <li class="{f:if(condition: item.active, then: 'active')} {f:if(condition: item.available, else: 'text-muted')}">
            <f:if condition="{item.available}"><f:then><a href="{item.link}" hreflang="{item.hreflang}" title="{item.title}">
                <span><core:icon identifier="flags-{item.twoLetterIsoCode}{f:if(condition: '{item.twoLetterIsoCode} == en', then: '-us-gb')}" size="small" /></span>
            </a></f:then><f:else><span><core:icon identifier="{item.flag}" size="small" /></span></f:else></f:if></li>
    </f:for></f:if>
    </ul
</f:spaceless>
</html>